#menu
{
    width: 100%;
    height: 50px;
}

#logo
{
    width: 100%;
    height: 140px;
    background-color: red;
}

#darknet_logo
{
	float: left;
	height: 50px;
	width: 150px;
}

.menu_button
{
	float: right;
	height: 100%;
	width: 60px;
	text-align: center;
}

#shop_cart
{
	width: 50px;
	height: 50px;
}

#user_account
{
	padding-top: 3px;
	width: 45px;
	height: 45px;
}

#central
{
    width: 100%;
	height: 1600px;
	margin-top: 10px;
}

#left_panel
{
    float: left;
    width: 15%;
    height: 800px;
    background-color: #F0FFFF;
}

#central_panel
{
    float: left;
    width: 85%;
    height: 100%;
    background-color: white;
}

.product_item
{
	float: left;
	width: 33%;
	height: 25%;
	text-align: center;
}

.product_image
{
	height: 60%;
	width: 100%;
}

.product
{
	padding-top: 10px;
}

.product_item input
{
	background-color: #4682B4; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}

.product_item p
{
	font-family: 'Palatino';
	font-size: 14px;
}

#foot
{
    width: 100%;
    height: 50px;
}

#enumeration
{
    float: right;
    width: 55%;
    height: 100%;
    margin-right: 10%;
    background-color: orange;
}

#left_panel div
{
    width: 100%;
    height: 80px;
    border-left: 6px solid #D3D3D3;
}

#left_panel div a
{
	float: left;
	padding-left: 20px;
	line-height: 80px;
	font-family: 'Palatino';
	font-size: 18px;
	font-style: bold;
	text-decoration: none;
	color: #000080;
}